body {
	background-color: #C3F7FA;
	font-family: Verdana;
}

h1 {
	font-size: 40px;
	color: #193380;
	border: 3px solid black;
	border-radius: 3px;
	padding: 5px;
	background-color: #A7BAF2;
	text-align: center;
}

#burger {
	float: left;
	margin-right: 15px;
}

.quote {
	padding: 15px;
}

table {
	border: 1px solid black;
	box-shadow: 5px 5px 5px #888888;
	background-color: white;
	padding: 10px;
}

.ingredients {
	clear: both;
	background-color: #A7BAF2;
	padding: 10px;
	border-top: 5px solid black;
}

.instructions {
	background-color: #A7BAF2;
	padding: 10px;
	border-bottom: 5px solid black;
}

ol {
	background-color: white;
	border: 1px solid black;
	box-shadow: 5px 5px 5px #888888;
	padding: 10px 10px 10px 40px;
}

#whale, #donut, #cheese {
	float: left;
	margin: 10px;
	padding: 0;
	border: 2px solid navy;
	border-radius: 12px;
}

img {
	height: 260px;
	border-radius: 10px;
}

